 body{
            background:grey;
        }
        
        .list{
            background:black;
            color:yellow;
        }
        .Dignity{
         background: red;
}
        #note{
            color:pink;
        }
        #noteHead{
            background:pink;
        }
        #list2{
            background:red;
        
        }
